<div class="jumbotron text-center">
  <h1>Subject/BehaviorSubject (It works same as observable)</h1>
</div>

<br><br>
  
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>Component 1</h3>
      <app-component1></app-component1>
    </div>
    <div class="col-sm-6">
      <h3>Component 2</h3>
      <app-component2></app-component2>
    </div>
    <div class="col-sm-6">
      <h3>Component 3</h3>        
      <app-component3></app-component3>
    </div>
    <div class="col-sm-6">
      <h3>Component 4</h3>        
      <app-component4></app-component4>
    </div>  
  </div>
</div>