<div class="jumbotron text-center">
    <h2>ViewChild with Directive.</h2>
    <h6>We can create custome directive and we can use that directive with view child.</h6>
    <h6>Custom directive acts as a services. We need to put code/methods only in one file. We can access this directive in multiple component</h6>
</div>
 
<br>
<div class="container">
    <div class="row">
      <div class="col-sm-12">
            <div #box>
                    <h1> User Name is {{userFullName}} </h1>
            </div>
      </div>
      <div class="col-sm-6">
            <h5>Parent Component</h5>
      </div>
      <div class="col-sm-6">
            <h5>Child Component</h5>
            <app-comp1>
                <p #childCon> This is ng content paragraph</p>
            </app-comp1>
      </div>
  </div>
</div>