
<ng-container *ngIf="statusOnline">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
            <h2>ng-container</h2>
            <h6>ng-container helps to reduce unnecessary div. </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <app-card>
                    <h5 class="card-title">Washing Machine</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </app-card>
            </div>
            <div class="col-md-4">
                <app-card>
                    <h5 class="card-title">Watch</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </app-card>
            </div>
            <div class="col-md-4">
                <app-card>
                    <h5 class="card-title">Tv</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </app-card>
            </div>
        </div>
        <br>
    </div>
</ng-container>