<div class="jumbotron text-center">
    <h2>HostListener & Hostbinding</h2>
    <h6>If we want to capture any event of host element then we should use hostlistener. It helps to listen and handle events of host element.</h6>
    <h6>For example: We want to perform some events (MouseOver/Click/MouseDown/MouseUp etc) on perticular div then we can use hostlistener to listen perticular event.</h6>
    <h6>We can use hostbinding in our host element to bind bind any property and attribute.</h6>
    <h6>If we use hostbinding then we don't need to use renderer to access the element.</h6>
    <h6>If we are not using hostbinding then we need to use renderer to access the element with hostlistener.</h6>

</div>
 
<br>
<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width:400px" appTestdirective>
            <div class="card-body">
              <h4 class="card-title">Iron Man</h4>
              <p class="card-text">Some example text some example text. Iron Man is an architect and engineer</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="width:400px" appTestdirective>
            <div class="card-body">
              <h4 class="card-title">Spider Man</h4>
              <p class="card-text">Some example text some example text. Spider Man is an architect and engineer</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
         </div>
      </div>
  </div>
</div>