
<div class="container">
    <div class="row">
        <div class="col-sm-12">
          <h2>ng-content</h2>
          <h6>We can reuse the component with the help of ng-content. </h6>
        </div>
      </div>
    <div class="row">
        <div class="col-md-4">
            <app-card>
                <h5 class="card-title">Laptop</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </app-card>
        </div>
        <div class="col-md-4">
            <app-card>
                <h5 class="card-title">Television</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </app-card>
        </div>
        <div class="col-md-4">
            <app-card>
                <h5 class="card-title">Mobile</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </app-card>
        </div>
    </div>
    <br>
</div>
