<hr class="mb-3">
<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/image/s1.jpg" width="250" height="250" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">IT Services</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="information-technology" class="btn btn-primary">View</a>
            </div>
          </div>
    </div>
    <div class="col-1">
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/image/s2.png"  width="250" height="250"   alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Account Services</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="account" class="btn btn-primary">View</a>
            </div>
          </div>
    </div>
    <div class="col-1">
    </div> 
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/image/s3.jpeg"  width="250" height="250"   alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Social Services</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="social" class="btn btn-primary">View</a>
            </div>
          </div>
    </div>
    <div class="col-1">
    </div> 
</div>
